<app-nav-bar></app-nav-bar>

<div class="body">
    <div class="container">
        <h1>Your Cart</h1>
        <div class="products">
            <div class="product">
                <img src="https://i.pinimg.com/564x/8c/25/61/8c2561f3051a433503426c56c9cae328.jpg" alt="">
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aut quam sint similique ullam nesciunt placeat corporis inventore eius cupiditate, magni, cum et. Eius, tenetur. Debitis sapiente voluptate natus illum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt repellendus blanditiis, accusamus iste veniam cum exercitationem, magnam sit voluptate quisquam voluptatum iure ducimus. Adipisci, ad animi laborum tenetur error fugiat.</p>
            </div>
        </div>
    </div>
</div>